:root {
    --amd-sidebar-width: 280px;
    --amd-navbar-height: 60px;
    --amd-sidebar-radius: 8px;
    --amd-navbar-radius: 8px;
    --amd-size-sm: 13px;
    --amd-size-md: 15px;
    --amd-size-lg: 18px;
    --amd-size-xl: 22px;
}

a {
    color: var(--amd-color-blue);
    font-size: var(--amd-size-md);
}

address {
    font-style: normal;
    font-size: var(--amd-size-md);
    text-align: start;
    background: var(--amd-wrapper-bg);
    color: var(--amd-text-color);
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
}

.row > div {
    padding: 0 !important;
}

.size-sm {
    font-size: var(--amd-size-sm)
}

.size-md {
    font-size: var(--amd-size-md)
}

.size-lg {
    font-size: var(--amd-size-lg)
}

.size-xl {
    font-size: var(--amd-size-xl)
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--amd-title-font);
    color: var(--amd-title-color);
    text-shadow: 0 0 6px rgba(var(--amd-title-color-rgb), .1);
}

h1 {
    font-size: 30px !important;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 14px;
}

h6 {
    font-size: 13px;
}

#content ul {
    margin: 0
}

#content ul > li {
    margin: 8px 0
}

body.rtl {
    direction: rtl;
}

body.ltr {
    direction: ltr;
}

body.rtl .no-rtl {
    display: none !important
}

body.ltr .no-ltr {
    display: none !important
}

body.light .no-light {
    display: none !important
}

body.dark .no-dark {
    display: none !important
}

body {
    font-family: var(--amd-font-family);
    background: var(--amd-wrapper-bg);
    color: var(--amd-text-color);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@media (min-width: 993px) and (max-width: 1399px) {
    .card-columns.template-1 {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
@media (min-width: 1400px){
    .card-columns.template-1 {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}
@media (min-width: 993px){
    .card-columns {
        box-sizing: border-box;
    }
    .card-columns {
        -webkit-column-gap: 26px;
        -moz-column-gap: 26px;
        column-gap: 26px;
    }
    .card-columns .amd-card {
        display: inline-block !important;
        width: 100% !important;
    }
}
.card-columns .amd-card {
    margin-bottom: 12px !important;
}

.circle-image {
    display: flex;
    width: 50px;
    height: auto;
    aspect-ratio: 1;
    border-radius: 50%;
}

.circle-image.s-50 { width: 50px }
.circle-image.s-80 { width: 80px }
.circle-image.s-100 { width: 100px }
.circle-image.s-200 { width: 200px }

.circle-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* Iconhub setup */
svg.iconhub path,
svg.iconhub line,
svg.iconhub polyline {
    fill: none;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px
}
/* End of Iconhub setup */

.amd-card {
    position: relative;
    background: var(--amd-wrapper-fg);
    border-radius: 10px;
    box-shadow: var(--amd-shadow);
    margin: 8px;
    overflow: hidden;
}

.amd-card.--boxed {
    margin-top: 22px;
    overflow: unset !important;
}

.amd-card > .--title {
    font-family: var(--amd-title-font);
    font-size: var(--amd-size-md);
    color: rgba(var(--amd-text-color-rgb), .9);
    margin: 0 0 8px;
    padding: 8px 12px 0;
}

.amd-card.--boxed > .--title {
    margin-inline-end: 80px;
}

.amd-card.--title-box {
    margin-top: 40px;
    overflow: unset;
}
.amd-card.--title-box > .--title {
    position: relative;
    background: var(--amd-primary);
    color: #fff;
    text-align: center;
    top: -20px;
    width: 80%;
    margin: 0 auto;
    padding: 8px 16px;
    border-radius: 8px;
}
.amd-card.--title-box.waiting > .--title { opacity: .1 }

.amd-card.--title-box > .--title .--button {
    position: absolute;
    top: 5px;
    left: 5px;
    height: calc(100% - 10px);
    margin: 0;
    line-height: 100%;
}

.amd-card.--title-box > .--title .--button.--right {
    left: unset;
    right: 5px;
}

.amd-card > .--title-2 {
    font-family: var(--amd-title-font);
    font-size: var(--amd-size-xl);
    color: var(--amd-title-color);
    padding: 12px;
    margin: 0;
}

.amd-card.--boxed > .--icon {
    position: absolute;
    display: flex;
    top: -16px;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    width: 70px;
    height: auto;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 0 15px -5px #00000060;
    text-align: center;
}

body.rtl .amd-card.--boxed > .--icon {
    left: 20px
}

body.ltr .amd-card.--boxed > .--icon {
    right: 20px
}

.amd-card.--boxed > .--icon > .bi {
    font-size: 29px;
}

.amd-card.--boxed > .--icon.--flex-align > .bi {
    display: flex;
    align-items: center;
    justify-content: center;
}

.amd-card.--boxed > .--icon > svg.iconhub {
    width: 32px;
}

body.light .amd-card.--boxed > .--icon { background: linear-gradient(8deg, #5142fc, #897fff); color: #fff }
body.dark .amd-card.--boxed > .--icon { background: linear-gradient(8deg, #4037a5, #574dd4); color: #fff }
body.light .-gr-red { background: linear-gradient(8deg, #ea524f, #fa7d7a) !important }
body.dark .-gr-red { background: linear-gradient(8deg, #983634, #aa4543) !important }
body.light .-gr-green { background: linear-gradient(8deg, #2cb947, #3efa63) !important }
body.dark .-gr-green { background: linear-gradient(8deg, #179931, #3ad058) !important }
body.light .-gr-blue { background: linear-gradient(8deg, #4f69ea, #7aadfa) !important }
body.dark .-gr-blue { background: linear-gradient(8deg, #2f43a1, #4667b5) !important }

.amd-card.--boxed > .--icon.-gr-purple,
.amd-card.--boxed > .--icon.-gr-red,
.amd-card.--boxed > .--icon.-gr-green,
.amd-card.--boxed > .--icon.-gr-blue {
    color: #fff;
}

.amd-card.--boxed > .--icon.-blue {
    background: var(--amd-color-blue);
    color: #fff;
}

.amd-card.--boxed > .--icon.-green {
    background: var(--amd-color-green);
    color: #fff;
}

.amd-card.--boxed > .--icon.-orange {
    background: var(--amd-color-orange);
    color: #fff;
}

.amd-card > .--content {
    font-family: var(--amd-font-family);
    font-size: var(--amd-size-md);
    padding: 0 12px 12px;
}

.amd-card.--boxed > .--content {
    margin-inline-end: 80px;
}

.amd-card > .--footer {
    font-size: var(--amd-size-sm);
    color: rgba(var(--amd-text-color-rgb), .8);
    padding: 8px;
}

.amd-card > .--footer-2 {
    padding: 0 12px 12px;
}

.amd-card > .--footer-2 .btn {
    margin: 4px;
}

.amd-card > .--footer a {
    font-size: var(--amd-size-sm);
    color: rgba(var(--amd-text-color-rgb), .9);
    text-decoration: underline;
}

.amd-card > .--card-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.select-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.select-bar > a {
    text-decoration: none;
    background: rgba(var(--amd-primary-rgb), .1);
    color: var(--amd-text-color);
    margin: 4px;
    padding: 12px 0;
    border-radius: 6px;
    transition: background-color ease .2s, color ease .2s;
    max-width: 220px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.select-bar > a.btn {
    height: max-content;
    padding: 5px;
}

.select-bar > a:hover {
    background: rgba(var(--amd-primary-rgb), .2);
    color: var(--amd-primary);
}

.select-bar > a.active {
    background: rgba(var(--amd-primary-rgb), .7);
    color: #fff;
}

.select-bar.full-width > a {
    width: 100%;
    text-align: center;
}

.select-bar > a > span {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.select-bar > a > span > span {
    display: block;
    max-width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.select-bar > a > span > img {
    width: 24px;
    margin: 0 10px;
}

/* Tooltip */
.amd-tooltip {
    box-sizing: content-box;
    position: fixed;
    color: var(--amd-wrapper-fg);
    background: var(--amd-text-color);
    height: max-content;
    max-width: 300px;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 5px;
    z-index: 99999;
}

/* End of Tooltip */

/* Loader */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    z-index: 990
}

.indeterminate-progress-bar {
    position: relative;
    background-color: rgba(var(--amd-primary-rgb), .12);
    border-radius: 9999px;
    height: 4px;
    overflow: hidden
}

.indeterminate-progress-bar__progress {
    position: absolute;
    background-color: rgba(var(--amd-primary-rgb), .5);
    border-radius: 9999px;
    bottom: 0;
    top: 0;
    width: 50%;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: indeterminate-progress-bar
}

#loader.__stop .indeterminate-progress-bar__progress {
    animation: none;
    background-color: transparent;
    left: 100%;
}

@keyframes indeterminate-progress-bar {
    from {
        left: -50%
    }
    to {
        left: 100%
    }
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--amd-wrapper-fg);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

/* End of Loader */

.amd-form-loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(var(--amd-text-color-rgb), .5);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: inherit;
    z-index: 99999;
}

.amd-form-loading.--full {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.amd-form-loading > p {
    position: absolute;
    color: var(--amd-wrapper-fg);
}

.amd-form-loading > .lds-ellipsis._loader_ {
    position: absolute !important;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
}

.amd-form-loading > p {
    font-family: var(--amd-title-font);
    font-size: 18px;
    width: 100%;
    height: 18px;
    top: calc(60% - 9px);
    left: 0;
    text-align: center;
    text-shadow: 0 0 5px rgba(var(--amd-wrapper-fg-rgb), .4);
}

.amd-card-list,
.amd-card-list > .--card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
}

.amd-card-list {
    position: relative;
    flex-direction: column;
    background: var(--amd-wrapper-fg);
    width: 100%;
    border-radius: 12px;
    padding: 16px 0;
    overflow: hidden;
}
.amd-card-list:not(.no-shadow) {
    box-shadow: var(--amd-shadow);
}

.amd-card-list .--card-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.amd-card-list > .--card {
    flex: 1;
    width: calc(100% - 40px);
    padding: 16px;
}

.amd-card-list > .--separated {
    border-bottom: 1px dashed rgba(var(--amd-primary-rgb), .2);
}

.amd-card-list > .--card > .-image {
    display: flex;
    flex: 1;
    width: 80px;
    height: auto;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    border-radius: 8px;
    overflow: hidden;
}

.amd-card-list > .--card > .-image img,
.amd-card-list > .--card > .-image svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.amd-card-list > .--card > .-image img.small {
    width: auto;
    height: 32px;
}
.amd-card-list > .--card > .-image img.medium {
    width: auto;
    height: 40px;
}

.amd-card-list > .--card > .-content {
    flex: 8;
    margin: 0 16px;
}

.amd-card-list > .--card .-title {
    font-size: var(--amd-size-lg);
    margin: 0;
}
.amd-card-list > .--card .-title a {
    text-decoration: none;
    color: currentColor;
}

.amd-card-list > .--card .-desc {
    margin: 8px 0;
}

.amd-card-list > .--card > .-side {
    flex: 1;
    text-align: end;
}
.amd-table {
    max-width: 100%;
    overflow-x: auto;
    border-radius: 8px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background: var(--amd-wrapper-bg);
}

.amd-table::-webkit-scrollbar {
    display: none;
}

.amd-table > table {
    width: 100%;
    border-collapse: collapse;
}

.amd-table > table tr > th {
    font-family: var(--amd-title-font);
    background: rgba(var(--amd-primary-rgb), .7);
    color: var(--amd-wrapper-fg);
    text-align: start;
    font-size: var(--amd-size-lg);
    border: none !important;
    height: 30px;
    padding: 8px 16px;
}
body.dark .amd-table > table tr > th {
    color: #fff;
}

body.rtl .amd-table > table tr > th:first-child {
    border-top-right-radius: 8px
}

body.rtl .amd-table > table tr > th:last-child {
    border-top-left-radius: 8px
}

body.ltr .amd-table > table tr > th:first-child {
    border-top-left-radius: 8px
}

body.ltr .amd-table > table tr > th:last-child {
    border-top-right-radius: 8px
}

.amd-table > table tr > td {
    text-align: start;
    font-size: var(--amd-size-md);
    color: var(--amd-text-color);
    height: 30px;
    padding: 8px 16px;
    background-color: transparent;
    border: none !important;
    transition: background-color ease .2s;
}

.amd-table > table tr:nth-child(even) > td {
    background-color: rgba(var(--amd-wrapper-fg-rgb), .2);
}

.amd-table > table tr:nth-child(odd) > td {
    background-color: var(--amd-wrapper-fg);
}

.amd-table > table tr:hover > td {
    background-color: rgba(var(--amd-primary-rgb), .08);
}

.amd-table-simple {
    margin: 16px 0;
    max-width: 300px;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.ht-magic-input {
    position: relative;
    display: block;
    font-family: var(--amd-font-family);
    background: var(--amd-primary-x-low);
    padding: 20px 0 0;
    margin: 8px 8px 16px;
    cursor: text;
    border: 1px solid transparent;
    border-radius: 8px;
    overflow: hidden;
    transition: all ease .3s
}
.ht-magic-input > input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
}
.ht-magic-input > .--keys {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    height: 30px;
    opacity: 0;
    transition: opacity ease .3s;
}
.ht-magic-input.focus > .--keys,
.ht-magic-input.text > .--keys {
    opacity: 1;
}
.ht-magic-input > .--keys > span {
    position: relative;
    flex: 0 0 22px;
    width: 22px;
    height: 22px;
    margin: 0 8px;
}
.ht-magic-input > .--keys > span:before {
    content: ' ';
    position: absolute;
    display: block;
    bottom:  0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: rgba(var(--amd-text-color-rgb), .4);
    border-radius: 3px;
}
.ht-magic-input > .--keys > span.text:before {
    background-color: transparent;
}
.ht-magic-input.focus > .--keys > span.cursor:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: rgba(var(--amd-text-color-rgb), .1);
    animation: mgi_cursor_blink ease 1s infinite;
}
body:not(.light) .ht-magic-select .--input:focus + span,
body:not(.light) .ht-magic-select .--input:not(:placeholder-shown) + span {
    color: rgba(var(--amd-text-color-rgb), .7)
}
@keyframes mgi_cursor_blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.ht-magic-input > .--title {
    box-sizing: border-box;
    position: absolute;
    font-size: 16px;
    width: 100%;
    top: 15px;
    left: 0;
    text-align: center;
    padding: 0 16px;
    color: var(--amd-text-color);
    user-select: none;
    transition: all ease .3s
}
.ht-magic-input.focus > .--title,
.ht-magic-input.text > .--title {
    font-size: 13px;
    top: 5px;
    color: var(--amd-primary);
    transition: all ease .3s
}
.ht-magic-input > ._icon_ {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    font-size: 20px;
    color: rgba(var(--amd-text-color-rgb), .8);
    background: var(--amd-primary-x-low);
    height: 100%;
    width: auto;
    aspect-ratio: 1;
    justify-content: center
}
.ht-magic-input > svg.iconhub {
    width: 22px;
    margin: 0 8px;
}
body.rtl .ht-magic-input > ._icon_ { left: 0 }
body.ltr .ht-magic-input > ._icon_ { right: 0 }

.ht-magic-select {
    position: relative;
    margin: 8px 8px 16px;
}

.ht-magic-select > label {
    position: relative;
    display: block;
    font-family: var(--amd-font-family);
    background: var(--amd-input-bg);
    padding: 20px 0 0;
    height: 30px;
    cursor: text;
    border: 1px solid transparent;
    border-radius: 8px;
    overflow: hidden;
    transition: all ease .3s
}

.ht-magic-select .--input {
    box-sizing: border-box;
    position: absolute;
    font-family: var(--amd-font-family);
    color: var(--amd-text-color);
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 10px 16px 0;
    background: none;
}

body.rtl .ht-magic-select .--input {
    right: 0
}

body.ltr .ht-magic-select .--input {
    left: 0
}

.ht-magic-select .--input + span {
    position: absolute;
    font-size: 16px;
    top: 15px;
    color: var(--amd-text-color);
    user-select: none;
    transition: all ease .3s
}

body.rtl .ht-magic-select .--input + span {
    right: 16px
}

body.ltr .ht-magic-select .--input + span {
    left: 16px
}

.ht-magic-select .--input:focus + span, .ht-magic-select .--input:not(:placeholder-shown) + span {
    font-size: 13px;
    top: 5px;
    color: var(--amd-primary);
    transition: all ease .3s
}

.ht-magic-select .--value {
    position: absolute;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    height: 100%;
    width: auto;
    aspect-ratio: 1;
    background: var(--amd-primary-x-low);
    color: var(--amd-text-color);
}

.ht-magic-select > label.invalid > .--value {
    background-color: rgba(var(--amd-color-red-rgb), .2);
    color: var(--amd-color-red);
}

body.rtl .ht-magic-select .--value {
    left: 0
}

body.ltr .ht-magic-select .--value {
    right: 0
}

.ht-magic-select .--options {
    display: none
}

.ht-magic-select .--search {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 50px;
    left: 0;
    width: 100%;
    margin: 8px 0;
    background: var(--amd-wrapper-fg);
    z-index: 10;
    border-radius: 8px;
    border: 1px solid var(--amd-primary-x-low);
    overflow: hidden;
}

.ht-magic-select .--search > span {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 14px;
    color: var(--amd-text-color);
    background: transparent;
    transition: all ease .1s;
    text-align: start;
    cursor: var(--amd-pointer);
}

.ht-magic-select .--search > span.selected {
    background: rgba(var(--amd-primary-rgb), .1);
    color: var(--amd-primary);
}

.ht-magic-select .--search > span:hover {
    background: rgba(var(--amd-primary-rgb), .2);
    color: var(--amd-primary);
}

.ht-magic-select .--search > span:not(:last-child) {
    border-bottom: 1px solid var(--amd-primary-x-low);
}

.ht-magic-select .--search > span.exclude {
    background: none !important;
    color: var(--amd-text-color) !important;
    cursor: auto;
}

.amd-alert {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: stretch;
    gap: 12px;
    font-size: 15px;
    color: #fff;
    background: var(--amd-primary);
    padding: 8px 16px;
    border-radius: 8px;
    margin: 8px 0;
    max-width: 100%;
}

.amd-alert p {
    font-size: 15px;
    margin: 8px 0;
    flex: 1
}

.amd-alert a {
    font-size: 15px;
    text-decoration: underline !important;
    color: currentColor;
}

.amd-alert code {
    display: inline-block;
    margin: 8px 0;
    font-family: var(--amd-font-family);
    background: var(--amd-wrapper-fg);
    padding: 1px 8px;
    border-radius: 5px;
}

.amd-alert ._icon_ {
    flex: 0 0 30px;
    font-size: 18px;
    display: inline-flex;
    width: auto;
    height: 30px;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: #fff;
    color: var(--amd-primary);
}

.amd-alert .--close {
    position: absolute;
    top: 8px;
    left: 16px;
    margin: 0;
    opacity: 0.7;
    cursor: var(--amd-pointer);
}
.amd-alert .--close ._icon_ {
    background: none;
    color: currentColor;
}

.amd-alert svg.iconhub {
    box-sizing: border-box;
    padding: 4px;
}

.amd-alert.primary {
    background: var(--amd-primary)
}

.amd-alert.primary code {
    color: var(--amd-primary)
}
.amd-alert.primary ._icon_ {
    color: var(--amd-primary)
}

body.rtl .amd-alert.primary ._icon_ {
    direction: rtl !important
}
body.ltr .amd-alert.primary ._icon_ {
    direction: ltr !important
}

.amd-alert.error { background: var(--amd-color-red) }
.amd-alert.error code { color: var(--amd-color-red) }
.amd-alert.error ._icon_ { color: var(--amd-color-red) }
.amd-alert.success {
    background: var(--amd-color-green)
}

.amd-alert.success code {
    color: var(--amd-color-green)
}

.amd-alert.success ._icon_ {
    color: var(--amd-color-green)
}

.amd-alert.info {
    background: var(--amd-color-blue)
}

.amd-alert.info code {
    color: var(--amd-color-blue)
}

.amd-alert.info ._icon_ {
    color: var(--amd-color-blue)
}

.amd-alert.warning {
    background: var(--amd-color-orange)
}

.amd-alert.warning code {
    color: var(--amd-color-orange)
}

.amd-alert.warning ._icon_ {
    color: var(--amd-color-orange)
}

.amd-alert.info .bi {
    color: var(--amd-color-blue);
}

.amd-list.--no-style {
    list-style: none;
}

.amd-floating-buttons {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 80px;
    margin: 24px;
}
.amd-floating-buttons.--top {
    top: calc(var(--amd-navbar-height) + 8px);
}
.amd-floating-buttons.--bottom {
    bottom: 0;
}
body.rtl .amd-floating-buttons { left: 0 }
body.ltr .amd-floating-buttons { right: 0 }
.amd-floating-buttons > .--button {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin: 4px 0;
}
.amd-floating-buttons > .--button.--white {
    background: var(--amd-wrapper-fg);
    color: var(--amd-text-color);
    box-shadow: var(--amd-shadow);
}
.amd-floating-buttons > .--button.--round {
    border-radius: 50% !important;
}
.amd-floating-buttons > .--button.--square {
    width: 50px;
    height: auto;
    aspect-ratio: 1;
}
.amd-floating-buttons > .--button.--full {
    width: 100%;
}

.amd-floating-buttons ._icon_ {
    display: flex;
    align-items: center;
    justify-content: center;
}

.amd-option-grid, .amd-option-grid > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start
}

.amd-option-grid > .-item {
    position: relative;
    flex: 0 0 100%;
    padding: 16px 0;
    flex-direction: row;
    align-items: start;
    justify-content: start
}
.amd-option-grid > .-item.--middle {
    align-items: center;
    justify-content: center;
}
.amd-option-grid > .-item.--middle > .-sub-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.amd-option-grid > .-item.--center {
    align-items: center
}

.amd-option-grid > .-item:not(:last-child):after {
    content: ' ';
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    height: 0;
    border: 1px dashed rgba(var(--amd-primary-rgb), .2)
}

.amd-option-grid > .-item > .-sub-item {
    flex: 1
}

.amd-option-grid > .-item > .-sub-item.g-1 { flex: 1 }
.amd-option-grid > .-item > .-sub-item.g-2 { flex: 2 }
.amd-option-grid > .-item > .-sub-item.g-3 { flex: 3 }
.amd-option-grid > .-item > .-sub-item.g-4 { flex: 4 }
.amd-option-grid > .-item > .-sub-item.g-5 { flex: 5 }
.amd-option-grid > .-item > .-sub-item.g-6 { flex: 6 }
.amd-option-grid > .-item > .-sub-item.g-7 { flex: 7 }
.amd-option-grid > .-item > .-sub-item.g-8 { flex: 8 }
.amd-option-grid > .-item > .-sub-item.g-9 { flex: 9 }
.amd-option-grid > .-item > .-sub-item.g-10 { flex: 10 }
.amd-option-grid > .-item > .-sub-item.g-auto { flex: 0 0 max-content }

.amd-option-grid > .-item > .-sub-item.--full {
    flex: 0 0 100%
}

.amd-option-grid > .-item > .-sub-item:nth-child(1) {
    text-align: start;
}

.amd-option-grid > .-item > .-sub-item:nth-child(2) {
    text-align: end
}

.amd-option-grid > .-item > .-sub-item {
    text-align: start
}

.amd-option-grid > .-item > .-sub-item {
    margin: 6px 0
}

.color-badge {
    position: relative;
    display: inline-block;
    bottom: -4px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}
