body {
    overflow-x: hidden;
}

.amd-admin p {
    font-size: 14px !important;
}

.hr {
    width: 100%;
    height: 1px;
    background: rgba(var(--amd-text-color-rgb), .1);
    margin: 16px auto;
}

.bi {
    font-size: 22px;
}

[data-amd-content] {
    display: none;
}

.amd-admin-tabs {
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.amd-admin-tabs::-webkit-scrollbar {
    display: none;
}

@media (max-width: 992px) {
    .amd-admin-tabs {
        margin-inline-end: 8px;
    }
}

.amd-admin-tabs > .--tabs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.amd-admin-tabs > .--tabs.__center {
    justify-content: center;
}

.amd-admin-tabs > .--tabs > div {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: 8px;
    border-radius: 4px;
    color: var(--amd-text-color);
    background: var(--amd-primary-x-low);
    transition: background-color ease .2s, color ease .3s;
    cursor: var(--amd-pointer);
}
body.rtl .amd-admin-tabs > .--tabs > div.has-badge { padding-left: 36px }
body.ltr .amd-admin-tabs > .--tabs > div.has-badge { padding-right: 36px }

.amd-admin-tabs > .--tabs > div:hover {
    color: var(--amd-primary);
}

.amd-admin-tabs > .--tabs > div.active {
    background: rgba(var(--amd-primary-rgb), .2);
    color: var(--amd-primary);
    border-radius: 4px 4px 0 0;
}

.amd-admin-tabs > .--tabs > div.active:before {
    content: ' ';
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: var(--amd-primary);
    border-radius: 3px;
}

.amd-admin-tabs > .--tabs > div > i {
    display: block;
    padding: 8px;
    padding-inline-end: 0;
}
.amd-admin-tabs > .--tabs > div > i::before {
    font-size: 15px;
}

.amd-admin-tabs > .--tabs > div > svg.iconhub,
.amd-admin-tabs > .--tabs > div > svg.tabler {
    display: block;
    height: 18px;
    width: auto;
    padding: 8px;
    padding-inline-end: 0;
}

.amd-admin-tabs > .--tabs > div > span {
    display: block;
    font-size: 13px;
    padding: 8px;
    white-space: nowrap;
}

.amd-btn {
    font-family: var(--amd-font-family);
    border: none;
    outline: none;
    background: var(--amd-primary);
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    cursor: var(--amd-pointer);
    transition: background-color ease .2s;
}

.amd-btn:hover {
    background: rgba(var(--amd-primary-rgb), .8);
}

.amd-admin-select {
    outline: none !important;
    background: var(--amd-primary-x-low) !important;
    border: 1px solid rgba(var(--amd-primary-rgb), .2) !important;
    color: var(--amd-text-color) !important;
    padding: 8px 16px 6px !important;
    border-radius: 6px !important;
    min-width: 100px !important;
    cursor: var(--amd-pointer);
}

.amd-admin-select.--full {
    width: 100%;
    max-width: 100% !important;
}

.amd-coloris > input {
    width: 10px;
    height: 10px;
}

.amd-coloris > span {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 8px;
}

input[data-coloris] {
    width: 120px;
    margin: 0 38px;
    outline: none;
    border: none;
    background-color: rgba(var(--amd-primary-rgb), .2);
    color: var(--amd-text-color);
    border-radius: 6px;
}

.clr-field > button {
    width: 30px !important;
    height: 30px !important;
    border-radius: 6px !important;
    border: none !important;
}

.clr-field > button::after {
    box-shadow: none !important;
}

.color-badge {
    position: relative;
    display: inline-block;
    bottom: -4px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

.amd-card-columns {
    box-sizing: border-box;
    padding-inline-end: 26px;
}

.amd-card-columns .amd-admin-card,
.amd-card-columns .__card {
    margin-bottom: 12px;
    box-sizing: border-box;
}

@media (min-width: 993px) {
    .amd-card-columns.c2 {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }

    .amd-card-columns.c3 {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }

    .amd-card-columns.c4 {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }

    .amd-card-columns.c5 {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }

    .amd-card-columns {
        -webkit-column-gap: 26px;
        -moz-column-gap: 26px;
        column-gap: 26px;
    }

    .amd-card-columns .amd-admin-card,
    .amd-card-columns .__card {
        display: inline-block;
        width: 100%;
    }
}

.amd-admin-card {
    position: relative;
    background: rgba(var(--amd-primary-rgb), .1);
    padding: 4px 16px;
    margin: 8px;
    border-radius: 8px;
}
.amd-admin-card-keywords {
    width: 0;
    height: 0;
    opacity: 0;
}
.amd-admin-card:not(.--overflow) {
    overflow: hidden;
}

.amd-admin-card > .--title {
    color: var(--amd-primary);
}

.amd-admin-card > .--title.--icon {
    display: flex;
    align-items: center;
}

.amd-admin-card > .--title.--icon > ._icon_ {
    margin-inline-end: 4px;
}

.amd-admin-card > .--content {
    padding: 12px 0;
}

.amd-admin-card .__option_grid,
.amd-admin-card .__option_grid > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
}

.amd-admin-card .__option_grid {}

.amd-admin-card .__option_grid > .-item {
    position: relative;
    flex: 0 0 100%;
    padding: 16px 0;
}

.amd-admin-card .__option_grid > .-item:not(:last-child, .--exclude):after {
    content: ' ';
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    height: 0;
    border: 1px dashed rgba(var(--amd-primary-rgb), .2);
}

.amd-admin-card .__option_grid > .-item > .-sub-item {
    flex: 1;
}

.amd-admin-card .__option_grid > .-item > .-sub-item.--full {
    flex: 0 0 100%;
}

.amd-admin-card .__option_grid > .-item > .-sub-item:nth-child(1) {
    text-align: start;
}

.amd-admin-card .__option_grid > .-item > .-sub-item:nth-child(2) {
    text-align: end;
}

@media ( min-width: 993px ) {
    .amd-admin-card.--setting-card {
        width: 40%;
        padding: 16px 32px;
        margin: 16px auto;
    }
}

.amd-admin-card.--reverse .__option_grid > .-item {
    flex-direction: row-reverse;
    direction: ltr;
}

.amd-admin-card.--reverse .__option_grid > .-item > .-sub-item {
    text-align: start;
}

.amd-admin-card.--thumb-card .__option_grid > .-item {
    flex-direction: column-reverse;
    align-items: start;
    justify-content: start;
}

.amd-admin-card.--thumb-card .__option_grid > .-item > .-sub-item {
    margin: 6px 0;
}

.amd-admin-alert {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: stretch;
    font-size: 16px;
    color: #fff;
    background: var(--amd-primary);
    padding: 4px 16px;
    border-radius: 8px;
    margin: 8px 0;
    max-width: 100%;
}

.amd-admin-alert.size-sm {
    max-width: 200px
}

.amd-admin-alert.size-md {
    max-width: 300px
}

.amd-admin-alert.size-lg {
    max-width: 500px
}

.amd-admin-alert.align-left {
    text-align: left;
}

.amd-admin-alert.align-right {
    text-align: right;
}

.amd-admin-alert.align-justify {
    text-align: justify;
}

.amd-admin-alert p {
    margin: 8px 0;
    flex: 1;
}

.amd-admin-alert a {
    text-decoration: underline !important;
    color: currentColor;
}

.amd-admin-alert ._icon_ {
    flex: 0 0 30px;
    margin: 8px;
    font-size: 18px;
    display: inline-flex;
    width: auto;
    height: 30px;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: #fff;
    color: var(--amd-primary);
}

.amd-admin-alert svg.iconhub {
    box-sizing: border-box;
    padding: 4px;
}

.amd-admin-alert button {
    outline: none;
    border: 1px solid #fff;
    background: none;
    border-radius: 6px;
    color: #fff;
    padding: 6px 10px;
    margin: 0 4px;
    background: transparent;
    transition: background-color ease .2s;
    cursor: var(--amd-pointer);
}

.amd-admin-alert button:hover {
    background: rgba(255, 255, 255, .2);
}

.amd-admin-alert.info {
    background: var(--amd-color-blue);
}

.amd-admin-alert.info .bi {
    color: var(--amd-color-blue);
}

.amd-admin-button {
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    background: var(--amd-primary);
    color: #fff;
    padding: 10px 16px;
    border-radius: 6px;
    text-decoration: none;
    outline: none;
    border: none;
    cursor: var(--amd-pointer);
    transition: background-color ease .3s, color ease .3s;
}

.amd-admin-button.--sm {
    font-size: 13px;
    line-height: 13px;
    padding: 9px 14px;
}

.amd-admin-button:hover {
    color: #fff;
}

.amd-admin-button.--primary {
    background: var(--amd-primary);
}

.amd-admin-button.--primary.--text {
    background: rgba(var(--amd-primary-rgb), .2);
    color: var(--amd-primary);
}

.amd-admin-button.--primary.--text:hover {
    background: rgba(var(--amd-primary-rgb), .3);
}

.amd-admin-button.--red {
    background: var(--amd-color-red);
}

.amd-admin-button.--red.--text {
    background: rgba(var(--amd-color-red-rgb), .2);
    color: var(--amd-color-red);
}

.amd-admin-button.--red.--text:hover {
    background: rgba(var(--amd-color-red-rgb), .3);
}

.amd-admin-button.--green {
    background: var(--amd-color-green);
}

.amd-admin-button.--green.--text {
    background: rgba(var(--amd-color-green-rgb), .2);
    color: var(--amd-color-green);
}

.amd-admin-button.--green.--text:hover {
    background: rgba(var(--amd-color-green-rgb), .3);
}

.amd-admin-button.--blue {
    background: var(--amd-color-blue);
}

.amd-admin-button.--blue.--text {
    background: rgba(var(--amd-color-blue-rgb), .2);
    color: var(--amd-color-blue);
}

.amd-admin-button.--blue.--text:hover {
    background: rgba(var(--amd-color-blue-rgb), .3);
}

.amd-admin-button.--orange {
    background: var(--amd-color-orange);
}

.amd-admin-button.--orange.--text {
    background: rgba(var(--amd-color-orange-rgb), .2);
    color: var(--amd-color-orange);
}

.amd-admin-button.--orange.--text:hover {
    background: rgba(var(--amd-color-orange-rgb), .3);
}

.indeterminate-progress-bar.--card-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.indeterminate-progress-bar {
    position: relative;
    background-color: rgba(var(--amd-primary-rgb), .12);
    border-radius: 9999px;
    height: 4px;
    overflow: hidden;
}

.indeterminate-progress-bar__progress {
    position: absolute;
    background-color: var(--amd-primary);
    border-radius: 9999px;
    bottom: 0;
    top: 0;
    width: 50%;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: indeterminate-progress-bar;
}

@keyframes indeterminate-progress-bar {
    from {
        left: -50%;
    }
    to {
        left: 100%;
    }
}

/* Switch */
.hb-switch, .hb-switch > input {
    position: relative;
    display: inline-block
}

.hb-switch {
    z-index: 0;
    color: rgba(var(--amd-color-black-rgb), .87);
    font-family: var(--amd-font-family);
    font-size: 16px;
    line-height: 1.5
}

.hb-switch > input:before {
    content: none !important
}

.hb-switch > input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: 1;
    float: right;
    margin: 0 0 0 5px;
    border: solid 5px transparent !important;
    border-radius: 12px;
    width: 46px;
    height: 24px;
    background-clip: padding-box;
    background-color: rgba(var(--amd-text-color-rgb), .38);
    outline: 0;
    cursor: pointer;
    transition: background-color .2s, opacity .2s
}

.hb-switch > input + span {
    display: inline-block;
    box-sizing: border-box;
    margin-right: -51px;
    padding-right: 51px;
    color: var(--amd-text-color);
    user-select: none;
    width: inherit;
    cursor: pointer
}

.hb-switch > input + span::after, .hb-switch > input + span::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    pointer-events: none
}

.hb-switch > input + span::before {
    right: 11px;
    top: -8px;
    display: block;
    width: 40px;
    height: 40px;
    background-color: var(--amd-color-black);
    opacity: 0;
    transform: scale(1);
    transition: opacity .3s .1s, transform .2s .1s
}

.hb-switch > input + span::after {
    z-index: 1;
    top: 2px;
    right: 22px;
    width: 20px;
    height: 20px;
    background-color: var(--amd-primary-x-low);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    transition: background-color .2s, transform .2s
}

.hb-switch > input:checked {
    background-color: rgba(var(--amd-primary-rgb), .6)
}

.hb-switch > input:checked + span::before {
    right: -5px;
    background-color: var(--amd-primary)
}

.hb-switch > input:checked + span::after {
    background-color: var(--amd-primary);
    transform: translateX(16px)
}

.hb-switch.--red > input:checked {
    background-color: rgba(var(--amd-color-red-rgb), .6)
}

.hb-switch.--red > input:checked + span::before {
    background-color: var(--amd-color-red)
}

.hb-switch.--red > input:checked + span::after {
    background-color: var(--amd-color-red)
}

.hb-switch.--green > input:checked {
    background-color: rgba(var(--amd-color-green-rgb), .6)
}

.hb-switch.--green > input:checked + span::before {
    background-color: var(--amd-color-green)
}

.hb-switch.--green > input:checked + span::after {
    background-color: var(--amd-color-green)
}

.hb-switch.--blue > input:checked {
    background-color: rgba(var(--amd-color-blue-rgb), .6)
}

.hb-switch.--blue > input:checked + span::before {
    background-color: var(--amd-color-blue)
}

.hb-switch.--blue > input:checked + span::after {
    background-color: var(--amd-color-blue)
}

.hb-switch:hover > input + span::before {
    opacity: .04
}

.hb-switch > input:focus + span::before {
    opacity: .12
}

.hb-switch:hover > input:focus + span::before {
    opacity: .16
}

.hb-switch:active > input {
    background-color: rgba(var(--amd-primary-rgb), .6)
}

.hb-switch:active > input:checked {
    background-color: rgba(var(--amd-color-black-rgb), .38)
}

.hb-switch:active > input + span::before {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s
}

.hb-switch > input:disabled {
    background-color: rgba(var(--amd-color-black-rgb), .38);
    opacity: .38;
    cursor: default
}

.hb-switch > input:checked:disabled {
    background-color: rgba(var(--amd-primary-rgb), .6)
}

.hb-switch > input:disabled + span {
    color: rgba(var(--amd-color-black-rgb));
    cursor: default
}

.hb-switch > input:disabled + span::before {
    z-index: 1;
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: var(--amd-wrapper-bg);
    transform: scale(1);
    opacity: 1;
    transition: none
}

.hb-switch > input:disabled + span::after {
    opacity: .38
}

/* End of Switch */

/* Input */
.amd-admin-input,
.amd-admin-textarea {
    outline: none !important;
    padding: 4px 10px !important;
    background: var(--amd-primary-x-low) !important;
    color: var(--amd-text-color) !important;
    border: 1px solid rgba(var(--amd-primary-rgb), .2) !important;
    border-radius: 5px !important;
}

.amd-admin-input.--full {
    width: 100%;
}

.amd-admin-textarea {
    resize: none !important;
    padding: 8px !important;
    width: 100%;
    max-height: 400px;
}

.amd-admin-select.invalid,
.amd-admin-input.invalid {
    border-color: var(--amd-color-red) !important;
}

.amd-admin-select.valid,
.amd-admin-input.valid {
    border-color: var(--amd-color-green) !important;
}

.amd-admin-select.info,
.amd-admin-input.info {
    border-color: var(--amd-color-blue) !important;
}

.amd-admin-select.warning,
.amd-admin-input.warning {
    border-color: var(--amd-color-orange) !important;
}

/* End of Input */

._locale_item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center
}

._locale_item > img {
    width: auto;
    height: 20px;
    margin: 0 6px
}

/* Circular progress */
@keyframes hb-progress-circular {
    0% {
        transform: rotate(0deg)
    }
    12.5% {
        transform: rotate(180deg);
        animation-timing-function: linear
    }
    25% {
        transform: rotate(630deg)
    }
    37.5% {
        transform: rotate(810deg);
        animation-timing-function: linear
    }
    50% {
        transform: rotate(1260deg)
    }
    62.5% {
        transform: rotate(1440deg);
        animation-timing-function: linear
    }
    75% {
        transform: rotate(1890deg)
    }
    87.5% {
        transform: rotate(2070deg);
        animation-timing-function: linear
    }
    to {
        transform: rotate(2520deg)
    }
}

@keyframes hb-progress-circular-pseudo {
    0% {
        -webkit-clip-path: polygon(50% 50%, 37% 0, 50% 0, 50% 0, 50% 0, 50% 0);
        clip-path: polygon(50% 50%, 37% 0, 50% 0, 50% 0, 50% 0, 50% 0)
    }
    18% {
        -webkit-clip-path: polygon(50% 50%, 37% 0, 100% 0, 100% 0, 100% 0, 100% 0);
        clip-path: polygon(50% 50%, 37% 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }
    53% {
        -webkit-clip-path: polygon(50% 50%, 37% 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
        clip-path: polygon(50% 50%, 37% 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }
    88% {
        -webkit-clip-path: polygon(50% 50%, 37% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
        clip-path: polygon(50% 50%, 37% 0, 100% 0, 100% 100%, 0 100%, 0 100%)
    }
    to {
        -webkit-clip-path: polygon(50% 50%, 37% 0, 100% 0, 100% 100%, 0 100%, 0 63%);
        clip-path: polygon(50% 50%, 37% 0, 100% 0, 100% 100%, 0 100%, 0 63%)
    }
}

.hb-progress-circular {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    border: 0;
    border-radius: 50%;
    padding: .25em;
    width: 3em;
    height: 3em;
    color: rgb(var(--amd-primary-rgb));
    background-color: transparent;
    font-size: 16px;
    overflow: hidden
}

.hb-progress-circular::-webkit-progress-bar {
    background-color: transparent
}

.hb-progress-circular:indeterminate {
    animation: hb-progress-circular 6s infinite cubic-bezier(.3, .6, 1, 1)
}

.hb-progress-circular:indeterminate::-webkit-progress-value, .hb-progress-circular:indeterminate::before {
    content: "";
    display: block;
    box-sizing: border-box;
    margin-bottom: .25em;
    border: solid .25em currentColor;
    border-radius: 50%;
    width: 100% !important;
    height: 100%;
    background-color: transparent;
    -webkit-clip-path: polygon(50% 50%, 37% 0, 50% 0, 50% 0, 50% 0, 50% 0);
    clip-path: polygon(50% 50%, 37% 0, 50% 0, 50% 0, 50% 0, 50% 0);
    animation: hb-progress-circular-pseudo .75s infinite linear alternate;
    animation-play-state: inherit;
    animation-delay: inherit
}

.hb-progress-circular:indeterminate::-moz-progress-bar {
    box-sizing: border-box;
    border: solid .25em currentColor;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: transparent;
    clip-path: polygon(50% 50%, 37% 0, 50% 0, 50% 0, 50% 0, 50% 0);
    animation: hb-progress-circular-pseudo .75s infinite linear alternate;
    animation-play-state: inherit;
    animation-delay: inherit
}

.hb-progress-circular:indeterminate::-ms-fill {
    animation-name: -ms-ring
}

.hb-progress-circular.--progress-white-2x {
    color: #fff;
    width: 26px;
    height: 26px;
    font-size: 14px;
    position: relative;
    bottom: -6px
}

/* End of Circular progress */

.i_text-badge {
    background: rgba(var(--amd-primary-rgb), .1);
    font-size: 13px;
    padding: 0 8px;
    border-radius: 30px;
    color: var(--amd-primary)
}

.amd-oc-card {
    position: relative;
    background: rgba(var(--amd-primary-rgb), .2);
    border-radius: 8px;
    overflow: hidden;
}

.amd-oc-card > .--thumb {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
}

.amd-oc-card > .--thumb > img {
    width: 100%;
    height: 100%;
}

.amd-oc-card > .--thumb > .--badges {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
    width: 100%;
    bottom: 0;
    left: 0;
}

.amd-oc-card > .--thumb > .--badges > ._item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--amd-primary-x-low);
    color: var(--amd-text-color);
    padding: 4px 12px;
    border-radius: 30px;
    min-width: 50px;
    text-align: center;
    margin: 0 6px 6px;
}

.amd-oc-card > .--thumb > .--badges > ._item ._icon_ {
    margin: 0 4px;
}

.amd-oc-card > .--thumb > .--badges > ._item.--fill {
    background-color: var(--amd-primary);
    color: #fff
}

.amd-oc-card > .--thumb > .--badges > ._item.--fill.--red {
    background-color: var(--amd-color-red);
}

.amd-oc-card > .--thumb > .--badges > ._item.--fill.--blue {
    background-color: var(--amd-color-blue);
}

.amd-oc-card > .--thumb > .--badges > ._item.--fill.--green {
    background-color: var(--amd-color-green);
}

.amd-oc-card > .--thumb > .--badges > ._item svg._icon_ {
    height: 13px;
    width: auto;
}

.amd-oc-card > .--thumb > .--badges > ._item ._icon_ {
    font-size: inherit;
}

.amd-oc-card .--title {
    color: var(--amd-primary);
    margin: 12px 0 8px;
}

.amd-oc-card > .--content {
    margin: 16px;
}

.amd-oc-card .indeterminate-progress-bar.--card-progress {
    background-color: #fff;
}

.amd-admin-badges {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 8px 0;
}

.amd-admin-badges > .--badge {
    display: block;
    text-decoration: none;
    background: rgba(var(--amd-primary-rgb), .2);
    color: var(--amd-primary);
    font-size: 14px;
    padding: 4px 12px;
    margin: 4px;
    border-radius: 30px;
}

.amd-admin-badges > .--badge.--icon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.amd-admin-badges > .--badge.--icon > .-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    width: 20px;
    height: auto;
    margin-inline-start: 8px;
}

.amd-admin-badges > .--badge.--red {
    background: rgba(var(--amd-color-red-rgb), .2);
    color: var(--amd-color-red);
}
.amd-admin-badges > .--badge.--green {
    background: rgba(var(--amd-color-green-rgb), .2);
    color: var(--amd-color-green);
}
.amd-admin-badges > .--badge.--blue {
    background: rgba(var(--amd-color-blue-rgb), .2);
    color: var(--amd-color-blue);
}

.amd-admin-hr {
    border: 1px dashed rgba(var(--amd-primary-rgb), .2) !important;
}